<main>
  <!-- Container START -->
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
      <!-- Main content START -->
      <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <!-- Sign up START -->
        <div class="card card-body rounded-3 p-4 p-sm-5">
          <div class="text-center">
            <!-- Title -->
            <h1 class="mb-2">Registro</h1>
            <span class="d-block"
              >Ya tienes una cuenta?
              <a href="sign-in.html">Iniciar Sesión</a></span
            >
          </div>
          <!-- Form START -->
          <form class="mt-4" (ngSubmit)="registro($event)">
            <!-- Email -->
            <div class="mb-3 input-group-lg">
              <input
                [(ngModel)]="usuario.nombre"
                name="nombre"
                type="text"
                class="form-control"
                placeholder="Nombre"
              />
            </div>

            <div class="mb-3 input-group-lg">
              <input
                [(ngModel)]="usuario.apellidos"
                name="apellidos"
                type="text"
                class="form-control"
                placeholder="Apellidos"
              />
            </div>

            <div class="mb-3 input-group-lg">
              <input
                [(ngModel)]="usuario.correo"
                name="correo"
                type="email"
                class="form-control"
                placeholder="Correo Electrónico"
              />
            </div>
            <!-- New password -->
            <div class="mb-3 position-relative">
              <!-- Input group -->
              <div class="input-group input-group-lg">
                <input
                  [(ngModel)]="usuario.password"
                  class="form-control fakepassword"
                  type="password"
                  name="password"
                  id="psw-input"
                  placeholder="Contraseña"
                />
                <span class="input-group-text p-0">
                  <i
                    class="
                      fakepasswordicon
                      fa-solid fa-eye-slash
                      cursor-pointer
                      p-2
                      w-40px
                    "
                  ></i>
                </span>
              </div>
              <!-- Pswmeter -->
              <div id="pswmeter" class="mt-2"></div>
              <div class="d-flex mt-1">
                <div id="pswmeter-message" class="rounded"></div>
              </div>
            </div>
            <!-- Confirm password -->
            <div class="mb-3 input-group-lg mb-5">
              <input
                [(ngModel)]="usuario!.confirm_password"
                class="form-control"
                type="password"
                name="confirm_password"
                placeholder="Confirmar Contraseña"
              />
            </div>
            <!-- Keep me signed in -->
            <div
              class="mb-3 input-group-lg mb-3 text-center"
              *ngIf="msg_error"
              [ngClass]="{ 'mb-5': !msg_error }"
            >
              <span class="text-danger">
                {{ msg_error }}
              </span>
            </div>
            <!-- Button -->
            <div class="d-grid">
              <button type="submit" class="btn btn-lg btn-primary">
                Registrarme
              </button>
            </div>
            <!-- Copyright -->
            <p class="mb-0 mt-3 text-center">
              ©2022
              <a target="_blank" href="https://www.webestica.com/"
                >Bootstrap.</a
              >
              All rights reserved
            </p>
          </form>
          <!-- Form END -->
        </div>
        <!-- Sign up END -->
      </div>
    </div>
    <!-- Row END -->
  </div>
  <!-- Container END -->
</main>
