<nav class="navbar navbar-light navbar-expand-lg mx-0">
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
    <!-- Offcanvas header -->
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close text-reset ms-auto"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>

    <!-- Offcanvas body -->
    <div class="offcanvas-body p-0">
      <!-- Card START -->
      <div class="card w-100">
        <!-- Card body START -->
        <div class="card-body">
          <!-- Side Nav START -->
          <ul
            class="
              nav nav-tabs nav-pills nav-pills-soft
              flex-column
              fw-bold
              gap-2
              border-0
            "
          >
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a
                class="nav-link d-flex mb-0"
                [routerLink]="['/cuenta/configuracion']"
                routerLinkActive="active"
              >
                <img
                  class="me-2 h-20px fa-fw"
                  src="assets/images/icon/person-outline-filled.svg"
                  alt=""
                /><span>Cuenta </span></a
              >
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a
                class="nav-link d-flex mb-0"
                href="#nav-setting-tab-2"
                data-bs-toggle="tab"
              >
                <img
                  class="me-2 h-20px fa-fw"
                  src="assets/images/icon/notification-outlined-filled.svg"
                  alt=""
                /><span>Notification </span></a
              >
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a
                class="nav-link d-flex mb-0"
                href="#nav-setting-tab-3"
                data-bs-toggle="tab"
              >
                <img
                  class="me-2 h-20px fa-fw"
                  src="assets/images/icon/shield-outline-filled.svg"
                  alt=""
                /><span>Privacy and safety </span></a
              >
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a
                class="nav-link d-flex mb-0"
                href="#nav-setting-tab-4"
                data-bs-toggle="tab"
              >
                <img
                  class="me-2 h-20px fa-fw"
                  src="assets/images/icon/handshake-outline-filled.svg"
                  alt=""
                /><span>Communications </span></a
              >
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a
                class="nav-link d-flex mb-0"
                href="#nav-setting-tab-5"
                data-bs-toggle="tab"
              >
                <img
                  class="me-2 h-20px fa-fw"
                  src="assets/images/icon/chat-alt-outline-filled.svg"
                  alt=""
                /><span>Messaging </span></a
              >
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
              <a
                class="nav-link d-flex mb-0"
                href="#nav-setting-tab-6"
                data-bs-toggle="tab"
              >
                <img
                  class="me-2 h-20px fa-fw"
                  src="assets/images/icon/trash-var-outline-filled.svg"
                  alt=""
                /><span>Close account </span></a
              >
            </li>
          </ul>
          <!-- Side Nav END -->
        </div>
        <!-- Card body END -->
        <!-- Card footer -->
        <div class="card-footer text-center py-2">
          <a class="btn btn-link text-secondary btn-sm" href="#!"
            >View Profile
          </a>
        </div>
      </div>
      <!-- Card END -->
    </div>
    <!-- Offcanvas body -->

    <!-- Helper link START -->
    <ul class="nav small mt-4 justify-content-center lh-1">
      <li class="nav-item">
        <a class="nav-link" href="my-profile-about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="settings.html">Settings</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          target="_blank"
          href="https://support.webestica.com/login"
          >Support
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="docs/index.html">Docs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="help.html">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="privacy-and-terms.html">Privacy & terms</a>
      </li>
    </ul>
    <!-- Helper link END -->
    <!-- Copyright -->
    <p class="small text-center mt-1">
      ©2022
      <a class="text-body" target="_blank" href="https://www.webestica.com/">
        Webestica
      </a>
    </p>
  </div>
</nav>
