<main>
  <!-- Container START -->
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
      <!-- Main content START -->
      <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <!-- Forgot password START -->
        <div class="card card-body rounded-3 text-center p-4 p-sm-5">
          <!-- Title -->
          <h1 class="mb-2">Recuperar contraseña</h1>

          <!-- form START -->

          <app-alert *ngIf="show"></app-alert>

          <form class="mt-3" (ngSubmit)="validarCuenta($event)">
            <!-- New password -->
            <div class="mb-3" *ngIf="step === 1">
              <!-- Input group -->
              <div class="input-group input-group-lg">
                <input
                  [(ngModel)]="email"
                  name="email"
                  class="form-control"
                  type="email"
                  id="psw-input"
                  placeholder="Ingrese el correo"
                />
              </div>

              <div class="d-grid mb-3 mt-3">
                <button type="submit" class="btn btn-lg btn-primary">
                  Validar
                </button>
              </div>
              <!-- Pswmeter -->
            </div>

            <app-validar-codigo *ngIf="step === 2"></app-validar-codigo>
            <app-reestablecer-contrasena
              *ngIf="step === 3"
            ></app-reestablecer-contrasena>
            <!-- Back to sign in -->
            <div
              class="mb-3 input-group-lg mb-3 text-center"
              *ngIf="msg_error"
              [ngClass]="{ 'mb-5': !msg_error }"
            >
              <span class="text-danger">
                {{ msg_error }}
              </span>
            </div>
            <!-- Button -->

            <div class="mb-3">
              <p>
                <a
                  [routerLink]="['/login']"
                  routerLinkActive="router-link-active"
                  >Iniciar sesión</a
                >
              </p>
            </div>
            <!-- Copyright -->
            <p class="mb-0 mt-3">
              ©2022
              <a target="_blank" href="https://www.webestica.com/"
                >Webestica.</a
              >
              All rights reserved
            </p>
          </form>
          <!-- form END -->
        </div>
        <!-- Forgot password END -->
      </div>
    </div>
    <!-- Row END -->
  </div>
  <!-- Container END -->
</main>
